<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME|striptags }}{%endblock%}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400italic,700">
    {% if VERSION_HASH %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.min.css?{{ VERSION_HASH }}">
    {% else %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.min.css">
    {% endif %}

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header id="banner">
          <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
          {% if SITESUBTITLE %}<div class="description">{{ SITESUBTITLE }}</div>{% endif %}
          <nav>
          {% for title, link in MENUITEMS %}
            <a href="{{ link }}">{{ title }}</a>
          {% endfor %}
          </nav>

          {% if SOCIAL %}
          <div class="icons">
            {% for name, link in SOCIAL %}
            <a href="{{ link }}"><i class="icon-{{ name }}"></i></a>
            {% endfor %}
          </div>
          {% endif %}
      </header>

      {% block content %}
      {% endblock %}

      {% block footer %}
      <footer id="footer">
        <p>Powered by <a href="http://alexis.notmyidea.org/pelican/">pelican</a></p>
      </footer>
      {% endblock %}
    </div>

    {% include 'analytics.html' %}
    {#{% include 'disqus_script.html' %}#}
    {% include 'github.html' %}
  </body>
</html>
